<a href="https://colab.research.google.com/github/HeileyP/Kaggle/blob/main/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://ifh.cc/g/fx7Kp2.png' width="800px;" border='0'>

# **ğŸ”¥Scikit-Learn: íŒŒì´ì¬ ê¸°ê³„í•™ìŠµ ë¼ì´ë¸ŒëŸ¬ë¦¬**

<img src='https://ifh.cc/g/VfqO4P.jpg' border='0'>

# â›³ **ë¬´ì—‡ì„ ë°°ìš°ë‚˜ìš”?** ã€° Scikit Learn ğŸ’»ğŸ“–ğŸ”

<img src='https://ifh.cc/g/at7WCv.jpg' width="1000px;" border='0'>

## **ê°œìš”**

<img src='https://ifh.cc/g/vZbaJH.png' width="250px;" border='0'>

</br>  

ì‹¸ì´í‚·ëŸ°ì€ íŒŒì´ì¬ ê¸°ë°˜ ë²”ìš© ì˜¤í”ˆ ì†ŒìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬(íˆ´)ë¡œì„œ,  
ë‹¤ì–‘í•œ ê¸°ê³„í•™ìŠµ ì•Œê³ ë¦¬ì¦˜ ì ìš©(ë°ì´í„° ë¶„ì„)ì„ ìœ„í•œ ê¸°ëŠ¥ë“¤ì„ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤.

</br>
</br>

**ğŸ§ scikit-learn í™ˆí˜ì´ì§€ì— ë“¤ì–´ê°€ì„œ ì–¼ë§ˆë‚˜ ë‹¤ì–‘í•œ ê²ƒë“¤ì„ í•  ìˆ˜ ìˆëŠ”ì§€ ë‘˜ëŸ¬ë³¼ê¹Œìš”?**

ğŸ‘‰ https://scikit-learn.org/stable/

</br>
</br>

<img src='https://ifh.cc/g/SR7Gyb.png' border='0'>

</br>

<img src='https://ifh.cc/g/IGvnbQ.jpg' border='0'>

##ğŸ’¬ **scikit-learn ë¨¸ì‹ ëŸ¬ë‹(ì§€ë„í•™ìŠµ)ì„ ìœ„í•´ ê¼­ í•„ìš”í•œ 3ê°€ì§€ ì¡°ê±´**

ìš°ë¦¬ëŠ” ë¨¸ì‹ ëŸ¬ë‹ì—ì„œ ì£¼ë¡œ **ì§€ë„í•™ìŠµ**, ì¦‰ **supervised learning** ì„ ë‹¤ë£° ê²ë‹ˆë‹¤.  
ê·¸ëŸ¬ê¸° ìœ„í•´ í•„ìš”í•œ 3ê°€ì§€ëŠ”  

ğŸ“ŒStep1. [feature1, feature 2 ...... , target] ì—ì„œ nê°œì˜ feature(X) ì™€ 1ê°œì˜ target(Y) ë¶„ë¦¬  

ğŸ“ŒStep2. ë°ì´í„° ì¸ì½”ë”© (*ëª¨ë“  ì…/ì¶œë ¥ê°’ì€ 'ìˆ«ì' ë¡œ ë˜ì–´ìˆì–´ì•¼ í•œë‹¤!)  

ğŸ“ŒStep3. test setê³¼ train set ë¶„ë¦¬

<img src='https://ifh.cc/g/IGvnbQ.jpg' border='0'>

### ğŸ“Œ **Step1. Feature(X) ì™€ Target(Y) ë¶„ë¦¬**

ë¨¸ì‹ ëŸ¬ë‹ ì§€ë„í•™ìŠµì€ feature(X) ê°’ë“¤ì„ ì‚¬ìš©í•˜ì—¬ target(Y) ê°’ì„ ì˜ˆì¸¡í•˜ë„ë¡ í•™ìŠµí•©ë‹ˆë‹¤.  
ë§Œì•½ ë°ì´í„°ì˜ **ì–´ë–¤ ë¶€ë¶„ì´ feature ì´ê³  ì–´ë–¤ ë¶€ë¶„ì´ target ì¸ì§€** ëª…í™•í•˜ê²Œ êµ¬ë¶„ì„ í•´ë†“ì§€ ì•ŠëŠ”ë‹¤ë©´ í•™ìŠµì´ ì•ˆë˜ê² ì£ ?

<img src = "https://1.bp.blogspot.com/-T26D5I27FkA/XoF9dMBin7I/AAAAAAAAAOY/Gao09-IsQkcjlUdNIcb8aJEDdNG3pQY2QCLcBGAsYHQ/s1600/%25E1%2584%258F%25E1%2585%25A2%25E1%2586%25B8%25E1%2584%258E%25E1%2585%25A51.JPG" width = "800">

In [ ]:
import seaborn as sns



---


> ì•„ë˜ì˜ titanic_datasetì„ ì‚´í´ë³´ê³  ì–´ë–¤ ì—´(column)ì´ feature(X)ì´ê³  target(Y)ì´ ë ê¹Œìš”?  
> ğŸ‘‹ ì†ë“¤ê³  ë‹µì„ ë§í•´ë³¼ê¹Œìš”?
> ```
>```

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

</br>

<img src='https://ifh.cc/g/B2hVe7.png' width="330px;" height="70px;" border='0'>

ğŸ” ì•„ë˜ mpg_dataset ì—ì„œë„ í•œ ë²ˆ featureì™€ targetì„ êµ¬ë¶„í•´ë³¼ê¹Œìš”? 

<img src='https://ifh.cc/g/4Me4qI.jpg' width="400px;" height="300px;" border='0'>

> **mpg ë°ì´í„°ì…‹ ì„¤ëª…**
- mpg(miles per gallon) = ì—°ë¹„  
- cylinders = ì‹¤ë¦°ë” ê°œìˆ˜   
- displacement = ë°°ê¸°ëŸ‰  
- horsepower = ë§ˆë ¥  
- weight = ë¬´ê²Œ  
- acceleration = í…Œì´ë¸”ë‹¹ ì‚¬ëŒ ìˆ˜  
- model_year = ìƒì‚°ë…„ë„  
- origin = ìƒì‚°êµ­  
- name = ìë™ì°¨ ëª¨ë¸ëª…

In [ ]:
mpg = sns.load_dataset('mpg')
mpg.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

> ğŸ˜…ğŸ˜… ìœ„ ë°ì´í„°ì…‹ë“¤ì€ target ì—´ì´ ë”°ë¡œ ì •í•´ì ¸ ìˆì§€ ì•ŠìŠµë‹ˆë‹¤ ğŸ’¦   
**'ì—¬ëŸ¬ë¶„(ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ğŸ¤“)ì´ ì •í•˜ê¸° ë‚˜ë¦„ëŒ€ë¡œ'**  
ğŸ§¡ìœ ì˜ë¯¸í•œ ë°ì´í„°ê°€ ë  ìˆ˜ë„, ğŸ’”ë¬´ì˜ë¯¸í•œ ë°ì´í„°ê°€ ë  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤!



---

In [ ]:
iris = sns.load_dataset('iris')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [ ]:
# ë‚˜ëˆ„ê¸° 
species = iris['species'] # target
iris_input = iris.drop('species', axis=1) # 'species'ë§Œ ë”°ë¡œ dropí•´ì„œ iris_inputì— ì €ì¥í•©ë‹ˆë‹¤.

print(species)
print(iris_input)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object
     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

<img src='https://ifh.cc/g/IGvnbQ.jpg' border='0'>

### ğŸ“Œ **Step2. ë°ì´í„° ì¸ì½”ë”© (Encoding)**

ì•ì„œ ë°°ìš´ëŒ€ë¡œ, ë°ì´í„°ëŠ” í¬ê²Œ **2ê°€ì§€ í˜•íƒœ**ë¡œ ë‚˜ë‰©ë‹ˆë‹¤. **â†’ ìˆ˜ì¹˜í˜•(Numerical) ë˜ëŠ” ë²”ì£¼í˜•(Categorical)**

ìš°ë¦¬ê°€ ë§Œë“¤ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ë“¤ì€ **ë²”ì£¼í˜•(Categorical) ë°ì´í„°ë¥¼ ì…ë ¥ê°’ìœ¼ë¡œ í™œìš©í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤. ğŸ™…â€â™€ï¸ğŸ™…â€â™‚ï¸**

ğŸŒŸ ë”°ë¼ì„œ 'ë‚¨ì', 'ë¹¨ê°•', 'ì‚¬ê³¼' ë“±ì˜ ë²”ì£¼í˜• ë°ì´í„°(Categorical data)ë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°(Numerical data)ìœ¼ë¡œ ë³€í™˜í•´ì£¼ëŠ” **ì „ì²˜ë¦¬ ì‘ì—…(preprocessing)**ì´ ì„ í–‰ë˜ì–´ì•¼ í•©ë‹ˆë‹¤. ğŸŒŸ

<img src='https://ifh.cc/g/eEzfDa.jpg' border='0'>



---

ğŸ’â€â™€ï¸ ë°ì´í„° **ì¸ì½”ë”©(ë˜ëŠ” ì „ì²˜ë¦¬) ë°©ë²•**ì€ **ì—¬ëŸ¬ê°€ì§€**ê°€ ìˆìŠµë‹ˆë‹¤.

</br>

<img src='https://ifh.cc/g/d9vP9u.png' width="480px;" height="240px;" border='0'>



---

#### 1ï¸âƒ£ **Pandas** ì˜ **map** í•¨ìˆ˜ ì´ìš©í•˜ê¸° ğŸ”¨

</br>

ë°ì´í„° ì¸ì½”ë”©(ë˜ëŠ” ì „ì²˜ë¦¬) ë°©ë²•ì˜ ì²« ë²ˆì§¸ë¡œ, **map í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ëŠ” ë°©ë²•**ì…ë‹ˆë‹¤.  

`map` í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ë©´ pandas ë°ì´í„°í”„ë ˆì„ ì•ˆì— ìˆëŠ” ë°ì´í„°ë¥¼ python dictionary í˜•íƒœì— ë§ê²Œ ë³€í™˜í•´ì¤ë‹ˆë‹¤. 

tips_datasetì„ í†µí•´ í•œ ë²ˆ ì•Œì•„ë³´ê² ìŠµë‹ˆë‹¤.

<img src='https://ifh.cc/g/EF9OLl.png' width="400px;" border='0'>

In [ ]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
import pandas as pd
# categorical dataì¸ 'sex(Female ë˜ëŠ” Male)'ë¥¼ map í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¸ì½”ë”©(ì „ì²˜ë¦¬) í•´ë³¼ê¹Œìš”?
tips['sex'] = tips['sex'].map({'Male':0, "Female":1})
tips.head()

   total_bill   tip sex smoker  day    time  size
0       16.99  1.01   1     No  Sun  Dinner     2
1       10.34  1.66   0     No  Sun  Dinner     3
2       21.01  3.50   0     No  Sun  Dinner     3
3       23.68  3.31   0     No  Sun  Dinner     2
4       24.59  3.61   1     No  Sun  Dinner     4

</br>

<img src='https://ifh.cc/g/B2hVe7.png' width="330px;" height="70px;" border='0'>

> ğŸ” tips_dataset ë‚´ categorical data ì¤‘, 'smoker'ë„ map í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ numerical dataë¡œ ë³€í™˜í•´ë³´ì„¸ìš”!

In [ ]:
tips['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['No', 'Yes']

In [ ]:
## ì—¬ê¸°ì—ì„œ!
tips['smoker'] = tips['smoker'].map({'No':0, "Yes":1})
tips.head()

   total_bill   tip sex smoker  day    time  size
0       16.99  1.01   1      0  Sun  Dinner     2
1       10.34  1.66   0      0  Sun  Dinner     3
2       21.01  3.50   0      0  Sun  Dinner     3
3       23.68  3.31   0      0  Sun  Dinner     2
4       24.59  3.61   1      0  Sun  Dinner     4




---

#####â— **mapí•¨ìˆ˜ì˜ í•œê³„** â—



ì•ì„œ Pandasì˜ map í•¨ìˆ˜ë¥¼ ì´ìš©í•´ì„œ ë²”ì£¼í˜• ë°ì´í„°(Categorical data)ë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°(Numerical data)ë¡œ ì¸ì½”ë”© í•´ì£¼ì—ˆìŠµë‹ˆë‹¤.

í•˜ì§€ë§Œ, **í•˜ë‚˜ì˜ feature ë‚´ ì¹´í…Œê³ ë¦¬ ê°œìˆ˜ê°€ ë„ˆë¬´ ë§ì€ ê²½ìš°ëŠ” ì–´ë–¨ê¹Œìš”?**  
ì•„ë˜ mpg_datasetì˜ 'name' í•­ëª©ì²˜ëŸ¼ìš”. (*ìë™ì°¨ ëª¨ë¸ëª…)

<img src='https://ifh.cc/g/hqgTUr.png' width="750px;" border='0'>

In [ ]:
mpg.head(4)

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst

[4 rows x 9 columns]

In [ ]:
mpg.name

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [ ]:
print(mpg.name.nunique())

305

In [ ]:
print(mpg['name'].unique())

['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'plymouth satellite custom' 'ford torino 500' 'amc matador'
 'pontiac catalina brougham' 'dodge monaco (sw)'
 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'amc ambassador sst' 'mercury marquis' 'buick lesabre custom'
 'oldsmobile delta 88 royale' 'chrysler newport royal' 'mazda rx2 coupe'
 'amc matador (sw)' 'chevrolet chevelle concours (sw)'
 'ford gran torino (sw)' 'plymouth satellite custom (sw)'
 'volvo 145e (sw)' 'volkswagen 411 (sw)' 'peugeot 504 (sw)'
 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'chevrolet malibu'
 'ford gran torino' 'dodge coronet custom' 'mercury marquis brougham'
 'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
 'chrysler new yorker brougham' 'buick electra 225 custom'
 'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
 'volkswagen super beetle' 'ford country' 'plymouth custom suburb'
 'oldsmobile vista cruiser' 'toyota carina' 'datsun 610' 'maxda rx3'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'chevrolet nova' 'datsun b210' 'chevrolet chevelle malibu classic'
 'plymouth satellite sebring' 'buick century luxus (sw)'
 'dodge coronet custom (sw)' 'audi fox' 'volkswagen dasher' 'datsun 710'
 'dodge colt' 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'mercury monarch' 'chevrolet bel air'
 'plymouth grand fury' 'buick century' 'chevroelt chevelle malibu'
 'plymouth fury' 'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
 'toyota corolla' 'pontiac astro' 'volkswagen rabbit' 'amc pacer'
 'volvo 244dl' 'honda civic cvcc' 'fiat 131' 'capri ii' 'renault 12tl'
 'dodge coronet brougham' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'dodge aspen se' 'ford granada ghia' 'pontiac ventura sj'
 'amc pacer d/l' 'datsun b-210' 'volvo 245' 'plymouth volare premier v8'
 'mercedes-benz 280s' 'cadillac seville' 'chevy c10' 'ford f108'
 'dodge d100' 'honda accord cvcc' 'buick opel isuzu deluxe'
 'renault 5 gtl' 'plymouth arrow gs' 'datsun f-10 hatchback'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'dodge colt m/m'
 'subaru dl' 'datsun 810' 'bmw 320i' 'mazda rx-4'
 'volkswagen rabbit custom diesel' 'ford fiesta' 'mazda glc deluxe'
 'datsun b210 gx' 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'ford fairmont (auto)'
 'ford fairmont (man)' 'plymouth volare' 'amc concord'
 'buick century special' 'mercury zephyr' 'dodge aspen' 'amc concord d/l'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'datsun 510' 'dodge omni' 'toyota celica gt liftback' 'plymouth sapporo'
 'oldsmobile starfire sx' 'datsun 200-sx' 'audi 5000' 'volvo 264gl'
 'saab 99gle' 'peugeot 604sl' 'volkswagen scirocco' 'honda accord lx'
 'pontiac lemans v6' 'mercury zephyr 6' 'ford fairmont 4'
 'amc concord dl 6' 'dodge aspen 6' 'ford ltd landau'
 'mercury grand marquis' 'dodge st. regis' 'chevrolet malibu classic (sw)'
 'chrysler lebaron town @ country (sw)' 'vw rabbit custom'
 'maxda glc deluxe' 'dodge colt hatchback custom' 'amc spirit dl'
 'mercedes benz 300d' 'cadillac eldorado' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'toyota corolla tercel' 'datsun 310' 'ford fairmont'
 'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
 'mazda glc' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'dodge aries wagon (sw)' 'toyota starlet'
 'plymouth champ' 'honda civic 1300' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'datsun 200sx'
 'peugeot 505s turbo diesel' 'volvo diesel' 'toyota cressida'
 'datsun 810 maxima' 'oldsmobile cutlass ls' 'ford granada gl'
 'chrysler lebaron salon' 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'ford fairmont futura' 'amc concord dl' 'volkswagen rabbit l'
 'mazda glc custom l' 'mazda glc custom' 'plymouth horizon miser'
 'mercury lynx l' 'nissan stanza xe' 'honda civic (auto)' 'datsun 310 gx'
 'buick century limited' 'oldsmobile cutlass ciera (diesel)'
 'chrysler lebaron medallion' 'ford granada l' 'toyota celica gt'
 'dodge charger 2.2' 'chevrolet camaro' 'ford mustang gl' 'vw pickup'
 'dodge rampage' 'ford ranger' 'chevy s-10']

ì´ê±° ì •ë§ map í•¨ìˆ˜ë¡œ ì¼ì¼ì´ ì¸ì½”ë”©... ê°€ëŠ¥í• ê¹Œìš”?ğŸ˜–ğŸ˜–

</br>

---

</br>

#### 2ï¸âƒ£ **Scikit-learn** ì˜ íŒ¨í‚¤ì§€ ì´ìš©í•˜ê¸° ğŸ”§

ğŸ’¡ ì´ëŸ° ê²½ìš° ë‘ ë²ˆì§¸ ë°©ë²•ì¸ **scikit-learn (sklearn)**ì˜ **LabelEncoder** ë¥¼ í™œìš©í•˜ë©´ ë©ë‹ˆë‹¤!

<img src='https://ifh.cc/g/zUCZ29.png' width="620px;"  border='0'>

iris_datasetì—ì„œ categorical dataì¸ 'species'ì˜ ì¸ì½”ë”©ì„ í†µí•´ ì•Œì•„ë³¼ê¹Œìš”?

```
ğŸ™‚ ì—¬ê¸°ì„œ ì ê¹! iris_dataset ê¸°ì–µë‚˜ì‹œë‚˜ìš”?  
ğŸ‘‰ petal(ê½ƒì)ê³¼ sepal(ê½ƒë°›ì¹¨)ì˜ ê¸¸ì´/ë„ˆë¹„ dataë¥¼ ë°”íƒ•ìœ¼ë¡œ ì–´ë–¤ species(ì¢…)ì¸ì§€ ì˜ˆì¸¡
```



>  LabelEncoderë¥¼ ì“°ê¸° ìœ„í•´, ë¨¼ì € ì „ì²˜ë¦¬(preprocessing) íŒ¨í‚¤ì§€ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

```
from sklearn import preprocessing
```

In [ ]:
import seaborn as sns # from seaborn import relplot
# import sklearn
from sklearn import preprocessing   #LabelEncoder()ë¥¼ ì“°ê¸°ìœ„í•´ ë¨¼ì € ë¶ˆëŸ¬ì™€ì•¼ í•˜ëŠ” íŒ¨í‚¤ì§€
# sklearn ì•ˆì— ìˆëŠ” perprocessing ê¸°ëŠ¥ì„ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒ(ì›í™œí•œ ëŸ°íƒ€ì„ ì‘ë™ì„ ìœ„í•´ í•„ìš”í•œ ê¸°ëŠ¥ë§Œ ë¶ˆëŸ¬ì˜¨ë‹¤.)

iris = sns.load_dataset('iris')
print(iris.head())  # ì›ë³¸ í™•ì¸

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

> ğŸ”“**ì¸ì½”ë”© í•˜ê¸°!**
- `preprocessing.LabelEncoder()`
- `le.fit_transform(ë°”ê¾¸ë ¤ëŠ” ë°ì´í„°ì—´)`

><img src='https://ifh.cc/g/Y3bhX0.png'  width="405px;" height="140px;" border='0'>

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
iris['species'] = le.fit_transform(iris['species'])   # categorical ë°ì´í„°ë¥¼ ê°„í¸í•˜ê²Œ numerical ë°ì´í„°ë¡œ ë°”ê¿”ì¤ë‹ˆë‹¤
print(iris['species'].unique()) # ê°ê°ì˜ ë²”ì£¼í˜• ë°ì´í„°(categorical data)ê°€ ê°ê° ì–´ë–¤ ìˆ˜ì¹˜í˜• ë°ì´í„°(numerical data)ë¡œ ì¸ì½”ë”©(encoding)ë¬ëŠ”ì§€ 'unique'ë¥¼ ì¨ì„œ í™•ì¸
iris.head()    # ë°ì´í„°ê°€ ì–´ë–»ê²Œ ë°”ë€Œì—ˆëŠ”ì§€ í™•ì¸

[0 1 2]

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

### ğŸ‘€ ìˆ˜ì¹˜í˜•(numerical)ìœ¼ë¡œ ì¸ì½”ë”©í•œ ë°ì´í„°ë¥¼ ë²”ì£¼í˜•(categorical)ë°ì´í„°ë¡œ **ë‹¤ì‹œ ë˜ëŒë¦¬ê³  ì‹¶ë‹¤ë©´?**

In [ ]:
# ë°˜ëŒ€ë¡œ, numerical ë°ì´í„°ë¥¼ catergorical ë°ì´í„°ë¡œ ë˜ëŒë¦´ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤
iris['species'] = le.inverse_transform(iris['species'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
le.transform(['setosa', 'versicolor', 'virginica']) # ë³€ìˆ˜ê°€ ì–´ë–»ê²Œ numerical ë°ì´í„°ë¡œ í‘œê¸°ë˜ì—ˆëŠ”ì§€.

array([0, 1, 2])



---

#####â— **Label encoderì˜ í•œê³„** â—


ìœ„ì™€ ê°™ì€ ì¸ì½”ë”©(ì „ì²˜ë¦¬) ë°©ë²• ë‘ ê°œëŠ” ê°„ë‹¨í•˜ê³  ì§ê´€ì ì´ì§€ë§Œ, í•œ ê°€ì§€ ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤ â›”

> **[ ë§¤ìš° ì‹«ë‹¤ -> 1, ë³´í†µì´ë‹¤ -> 3 , ë§¤ìš° ì¢‹ë‹¤ -> 5ì  ]** ì²˜ëŸ¼  
 "ordinalí•œ ë°ì´í„°"ì—ëŠ” ì í•©í•˜ì§€ë§Œ, ğŸ™†â€â™€ï¸ (*ìˆœì„œ ë˜ëŠ” ë“±ê¸‰ æœ‰)

> **[ ë¹¨ê°• -> 1, íŒŒë‘ -> 2, ì´ˆë¡ -> 3 ]** ì²˜ëŸ¼  
 "nominalí•œ ë°ì´í„°"ì—ëŠ” ì í•©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ğŸ™…â€â™€ï¸ (*ìˆœì„œ ë˜ëŠ” ë“±ê¸‰ ç„¡)

> ë¹¨ê°•, íŒŒë‘, ì´ˆë¡ì´ë¼ëŠ” ìƒ‰ê¹”ë“¤ ì‚¬ì´ì—ëŠ” ì–´ë– í•œ ìˆœì„œë‚˜ ë“±ê¸‰ë„ ì—†ì§€ë§Œ,  
ìœ„ì˜ ë°©ë²•ë“¤ë¡œ ë³€í™˜í•˜ë©´ ì´ˆë¡ê°’ì´ ê°€ì¥ í¬ë‹¤ë˜ì§€,  
"(ì´ˆë¡ê°’) - (íŒŒë‘ê°’) = (ë¹¨ê°•ê°’)" ë“±ì˜ **ê´€ê³„**ê°€ ìƒê¸°ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.  

> ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì€ ë³€í™˜ëœ ìˆ«ìë¥¼ ë°”íƒ•ìœ¼ë¡œ í•™ìŠµí•˜ê¸° ë•Œë¬¸ì—, ì˜ëª»í•˜ë©´ ìœ„ì˜ ê´€ê³„(íŠ¹ì„±)ë¥¼ í•™ìŠµí•´ ë²„ë¦½ë‹ˆë‹¤ ğŸ˜­ğŸ˜­  
ì´ëŠ” ë…¼ë¦¬ì ìœ¼ë¡œ ë¬¸ì œê°€ ìˆì„ ë¿ë§Œ ì•„ë‹ˆë¼, ì‹¤ì œ ëª¨ë¸ì˜ ì„±ëŠ¥ë„ ì˜ ì•ˆë‚˜ì˜¤ê²Œ ë©ë‹ˆë‹¤.



---

</br>

#### 3ï¸âƒ£ **pandas**ì˜ **get_dummies**  ì´ìš©í•˜ê¸° ğŸ”©

</br>


**ğŸ’¡ ë”°ë¼ì„œ nominalí•œ ë°ì´í„° ë³€í™˜ì„ ìœ„í•´ì„œëŠ”**, ìˆ«ìì´ê¸°ëŠ” í•˜ì§€ë§Œ **ì„œë¡œ 'ê´€ê³„ì—†ëŠ”' ìˆ«ìë¡œ ë³€í™˜**í•´ ì£¼ì–´ì•¼í•©ë‹ˆë‹¤.

<img src='https://ifh.cc/g/qlK9eZ.png' width="680px;"  border='0'>

<img src='https://ifh.cc/g/r5eLEF.png' border='0'>


---

</br>

ğŸ‘‰ ê·¸ëŸ¼ mpg_datasetì—ì„œ 'origin(ìë™ì°¨ ì œì¡°êµ­)' ì—´ì„ í†µí•´ ìì„¸íˆ ì•Œì•„ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
mpg.origin.unique() 
# mpg_datasetì—ì„œ íƒ€ê²Ÿì—´('origin')ì˜ ì¹´í…Œê³ ë¦¬ ì¢…ë¥˜(ì¤‘ë³µë˜ì§€ ì•ŠëŠ” ê°’ì˜ ê°œìˆ˜) í™•ì¸í•˜ê¸°
# mpg['origin'].unique() ì™€ ê°™ì€ ê¸°ëŠ¥!

array(['usa', 'japan', 'europe'], dtype=object)

In [ ]:
mpg_origin_dummies = pd.get_dummies(mpg['origin'],prefix='Origin')  
# originì— ì†í•œ ì¹´í…Œê³ ë¦¬(ì›ì‚°ì§€)ë³„ë¡œ ìƒˆë¡œìš´ comlumn(ì—´)ì´ ìƒê¹€
mpg_origin_dummies

     Origin_europe  Origin_japan  Origin_usa
0                0             0           1
1                0             0           1
2                0             0           1
3                0             0           1
4                0             0           1
..             ...           ...         ...
393              0             0           1
394              1             0           0
395              0             0           1
396              0             0           1
397              0             0           1

[398 rows x 3 columns]

ğŸ›  ì „ì²˜ë¦¬(ë³€í™˜) í›„ ì›ë˜ ë°ì´í„°ì™€ í•©ì³ì£¼ê¸° ğŸ› 

<img src='https://ifh.cc/g/ugmEeQ.png' width="800px;" border='0'>


> - `pd.concat()`

In [ ]:
mpg_dummies = pd.concat([mpg, mpg_origin_dummies], axis=1)
mpg_dummies

      mpg  cylinders  displacement  ...  Origin_europe  Origin_japan  Origin_usa
0    18.0          8         307.0  ...              0             0           1
1    15.0          8         350.0  ...              0             0           1
2    18.0          8         318.0  ...              0             0           1
3    16.0          8         304.0  ...              0             0           1
4    17.0          8         302.0  ...              0             0           1
..    ...        ...           ...  ...            ...           ...         ...
393  27.0          4         140.0  ...              0             0           1
394  44.0          4          97.0  ...              1             0           0
395  32.0          4         135.0  ...              0             0           1
396  28.0          4         120.0  ...              0             0           1
397  31.0          4         119.0  ...              0             0           1

[398 rows x 12 columns]

ğŸ›  Categorical ë°ì´í„° ì‚­ì œ(drop)í•˜ê¸° ğŸ› 

<img src='https://ifh.cc/g/avmjhg.png'  border='0'>

In [ ]:
mpg_dummies.drop('origin', axis=1, inplace=True) # 'origin'ë°ì´í„°ë¥¼ ì‚­ì œ(drop)
mpg_dummies

      mpg  cylinders  displacement  ...  Origin_europe  Origin_japan  Origin_usa
0    18.0          8         307.0  ...              0             0           1
1    15.0          8         350.0  ...              0             0           1
2    18.0          8         318.0  ...              0             0           1
3    16.0          8         304.0  ...              0             0           1
4    17.0          8         302.0  ...              0             0           1
..    ...        ...           ...  ...            ...           ...         ...
393  27.0          4         140.0  ...              0             0           1
394  44.0          4          97.0  ...              1             0           0
395  32.0          4         135.0  ...              0             0           1
396  28.0          4         120.0  ...              0             0           1
397  31.0          4         119.0  ...              0             0           1

[398 rows x 11 columns]



---

**ğŸ‘ŒğŸ‘ŒğŸ‘Œ ì •ë¦¬ í•´ë³¼ê¹Œìš”? ğŸ‘ŒğŸ‘ŒğŸ‘Œ**

</br>  

<img src='https://ifh.cc/g/COLTOP.png'  width="575px;" height="400px;" border='0'>

<img src='https://ifh.cc/g/IGvnbQ.jpg' border='0'>

### ğŸ“Œ **Step3. Test / Train data split**

</br>

**Train ë°ì´í„°ì…‹ê³¼ Test ë°ì´í„°ì…‹ ë¶„ë¦¬**ì— ëŒ€í•œ ê°œë…ì„ ì´í•´í•˜ê¸° ìœ„í•´ ëŒ€í•™ ìˆ˜ëŠ¥ ì‹œí—˜ ê³µë¶€ë¥¼ ì˜ˆì‹œë¡œ ë“¤ì–´ë³´ê² ìŠµë‹ˆë‹¤. 

</br>

ìˆ˜í—˜ìƒë“¤ì€ ë‹¹í•´ ìˆ˜ëŠ¥ì— ëŒ€ë¹„í•˜ê¸° ìœ„í•´ ê·¸ ì „ë…„ë„ê¹Œì§€ì˜ ìˆ˜ëŠ¥ ê¸°ì¶œë¬¸ì œë¥¼ ê³µë¶€í•©ë‹ˆë‹¤ ğŸ“ğŸ“  

ë§Œì•½ '19ë…„ë„ ê¸°ì¶œë¬¸ì œë§Œ ë°˜ë³µí•´ì„œ ê³µë¶€í•œ í›„ **ë˜‘ê°™ì€** ë¬¸ì œë¥¼ í’€ì—ˆë”ë‹ˆ 100ì ì´ ë‚˜ì™”ë‹¤ê³  í•´ì„œ, ê·¸ê²Œ ì •ë§ ë‚´ 'ìˆ˜ëŠ¥ ì„±ì 'ì¼ê¹Œìš”?  
ì§„ì§œ ì‹¤ë ¥ì´ë¼ê¸° ë³´ë‹¤ëŠ” ë‹¨ìˆœíˆ ë‹µì´ ê¸°ì–µë‚˜ì„œ ì ìˆ˜ê°€ ë†’ê²Œ ë‚˜ì˜¨ ê²ƒì´ê² ì£ ? âŒğŸš«â›”â—  

ì •í™•í•œ ë‚´ ì‹¤ë ¥ì„ í‰ê°€í•˜ê¸° ìœ„í•´ì„œëŠ”,  
**í•œ ë²ˆë„ ë³´ì§€ëª»í•œ** ê¸°ì¶œë¬¸ì œë¡œ í‰ê°€ë¥¼ í•´ì•¼í•  ê²ƒì…ë‹ˆë‹¤. 

</br>

ğŸ§ê¸°ê³„í•™ìŠµë„ ë§ˆì°¬ê°€ì§€ë¡œ! ëª¨ë¸ ì„±ëŠ¥ì„ ì •í™•í•œ í‰ê°€í•˜ë ¤ë©´,  
ê³µë¶€(Train)ì—ëŠ” ì‚¬ìš©ë˜ì§€ ì•Šê³  **ì˜¤ë¡œì§€ í‰ê°€ì—ë§Œ ì‚¬ìš©ë˜ëŠ” TEST ë°ì´í„°ê°€ í•„ìš”**í•©ë‹ˆë‹¤.  

í•™ìŠµì— ì‚¬ìš©ëœ ë°ì´í„°ë¡œ í‰ê°€ë¥¼ í•˜ê²Œ ëœë‹¤ë©´,  
ê¸°ê³„í•™ìŠµ ëª¨ë¸ì´ ìˆ˜ëŠ¥ë¬¸ì œë¥¼ í‘¸ëŠ” ì§€ì‹ê³¼ ìš”ë ¹ì„ ì œëŒ€ë¡œ í•™ìŠµí•œ ê²ƒì¸ì§€,  
ì•„ë‹ˆë©´ ë‹¨ìˆœíˆ ë¬¸ì œì˜ ë‹µì„ ì™¸ì›Œì„œ ì ìˆ˜ê°€ ë†’ì€ ê²ƒì¸ì§€ ë¶„ê°„ì´ ë˜ì§€ ì•Šê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.  

</br>

>â›¹ï¸â€â™€ï¸ **í•™ìŠµ**ì„ ìœ„í•œ ë°ì´í„° ì§‘í•© : **Train Set**  
ğŸ¥‡ ì„±ëŠ¥ **ê²€ì¦**ì„ ìœ„í•œ ë°ì´í„° ì§‘í•© : **Test Set**  

</br>

<img src='https://ifh.cc/g/6Y6V3r.jpg' border='0'>

</br>

ğŸ‘ Kaggleì˜ ë°ì´í„°ì…‹ ëŒ€ë¶€ë¶„ì€ Train setê³¼ Test setì´ ë¶„ë¦¬ë˜ì–´ ì œê³µë©ë‹ˆë‹¤. 
(*titanic_datasetë„ ë§ˆì°¬ê°€ì§€!) 

</br>

![ëŒ€ì²´ í…ìŠ¤íŠ¸](https://i.ibb.co/GJ8rrKW/Screen-Shot-2020-03-05-at-6-25-07-PM.png)



---

####**ğŸ¤” ë§Œì•½ Test setì´ ì œê³µë˜ì§€ ì•ŠëŠ”ë‹¤ë©´?**

ğŸ‘‰ í•˜ë‚˜ì˜ Data setì„ Train setê³¼ Test setìœ¼ë¡œ ë‚˜ëˆ ì¤˜ì•¼ í•©ë‹ˆë‹¤.

> Scikit-learn ì˜ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ Train setì„ ë‚˜ëˆ ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
> ğŸ” tips datasetìœ¼ë¡œ ì—°ìŠµ

In [ ]:
tips  # ì›ë³¸ ë°ì´í„° í™•ì¸í•´ë³´ê¸°

     total_bill   tip sex smoker   day    time  size
0         16.99  1.01   1      0   Sun  Dinner     2
1         10.34  1.66   0      0   Sun  Dinner     3
2         21.01  3.50   0      0   Sun  Dinner     3
3         23.68  3.31   0      0   Sun  Dinner     2
4         24.59  3.61   1      0   Sun  Dinner     4
..          ...   ...  ..    ...   ...     ...   ...
239       29.03  5.92   0      0   Sat  Dinner     3
240       27.18  2.00   1      1   Sat  Dinner     2
241       22.67  2.00   0      1   Sat  Dinner     2
242       17.82  1.75   0      0   Sat  Dinner     2
243       18.78  3.00   1      0  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips['total_bill']    # yê°’ì„ ì˜ë¯¸í•˜ëŠ” label ì°¾ê¸°

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

</br>

#### ğŸ” Scikit-learn íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•˜ì—¬ Train / Test ì…‹ ë¶„ë¦¬í•˜ê¸°
- `train_test_split(arrays, test_size, train_size, random_state, shuffle, stratify)`ì˜ ë§¤ê°œë³€ìˆ˜(parameter)
```
arrays : ë¶„í• ì‹œí‚¬ ë°ì´í„°ë¥¼ ì…ë ¥ (Python list, Numpy array, Pandas dataframe ë“±..)
test_size : í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì˜ ë¹„ìœ¨(float)ì´ë‚˜ ê°¯ìˆ˜(int) (default = 0.25)
train_size : í•™ìŠµ ë°ì´í„°ì…‹ì˜ ë¹„ìœ¨(float)ì´ë‚˜ ê°¯ìˆ˜(int) (default = test_sizeì˜ ë‚˜ë¨¸ì§€)
random_state : ë°ì´í„° ë¶„í• ì‹œ ì…”í”Œì´ ì´ë£¨ì–´ì§€ëŠ”ë° ì´ë¥¼ ê¸°ì–µí•˜ê¸° ìœ„í•œ ì„ì˜ì˜ ì‹œë“œê°’ (intë‚˜ RandomStateë¡œ ì…ë ¥)
shuffle : ì…”í”Œì—¬ë¶€ì„¤ì • (default = True)
stratify : ì§€ì •í•œ Dataì˜ ë¹„ìœ¨ì„ ìœ ì§€í•œë‹¤. ì˜ˆë¥¼ ë“¤ì–´, Label Setì¸ Yê°€ 25%ì˜ 0ê³¼ 75%ì˜ 1ë¡œ ì´ë£¨ì–´ì§„ Binary Setì¼ ë•Œ,
            stratify=Yë¡œ ì„¤ì •í•˜ë©´ ë‚˜ëˆ„ì–´ì§„ ë°ì´í„°ì…‹ë“¤ë„ 0ê³¼ 1ì„ ê°ê° 25%, 75%ë¡œ ìœ ì§€í•œ ì±„ ë¶„í• ëœë‹¤.
```

- ì˜ˆì œ

```
import numpy as np
from sklearn.model_selection import train_test_split 

X = [[0,1],[2,3],[4,5],[6,7],[8,9]]
Y = [0,1,2,3,4]

# ë°ì´í„°(X)ë§Œ ë„£ì—ˆì„ ê²½ìš°
X_train, X_test = train_test_split(X, test_size=0.2, random_state=123)
# X_train : [[0,1],[6,7],[8,9],[2,3]]
# X_test : [[4,5]]

# ë°ì´í„°(X)ì™€ ë ˆì´ë¸”(Y)ì„ ë„£ì—ˆì„ ê²½ìš°
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=321)
# X_train : [[4,5],[0,1],[6,7]]
# Y_train : [2,0,3]
# X_test : [[2,3],[8,9]]
# Y_test : [1,4]
```

â­ê´„í˜¸() ì•ˆì— ë“¤ì–´ê°€ëŠ” ì¸ì ì¤‘ x,y ë³€ìˆ˜ì˜ ìˆœì„œì— ì£¼ì˜í•˜ì„¸ìš”â­

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# ìš°ì„  ë‚˜ëˆŒ input array x ì™€ output array y ë¥¼ ì •ì˜í•©ë‹ˆë‹¤

x = tips.drop('total_bill',axis=1)
y = tips['total_bill']
xTrain, xTest, yTrain, yTest = train_test_split(x,y, test_size=0.2, random_state=1, shuffle=True) # 20%ë§Œ ì˜ë¼ì„œ test ë¡œ ë§Œë“­ë‹ˆë‹¤.

In [ ]:
tips.shape

(244, 7)

In [ ]:
xTrain.head(5)    # í›ˆë ¨ì…‹ ì˜ ë¶„ë¦¬ ë˜ì—ˆëŠ”ì§€ í•­ìƒ ì²´í¬í•´ë³´ê¸°!! ì…€ ë‹¨ìœ„ ì‹¤í–‰ì˜ ì¥ì ì…ë‹ˆë‹¤ ^0^

      tip sex smoker  day    time  size
0    1.01   1      0  Sun  Dinner     2
154  2.00   0      0  Sun  Dinner     4
167  4.50   0      0  Sun  Dinner     4
110  3.00   0      0  Sat  Dinner     2
225  2.50   1      1  Fri   Lunch     2

In [ ]:
xTest.head(5)    # í…ŒìŠ¤íŠ¸ì…‹ í™•ì¸í•´ë³´ê¸°

      tip sex smoker   day    time  size
67   1.00   1      1   Sat  Dinner     1
243  3.00   1      0  Thur  Dinner     2
206  3.41   0      1   Sat  Dinner     3
122  2.50   0      0  Thur   Lunch     2
89   3.00   0      0  Thur   Lunch     2



---

### **êµì°¨ê²€ì¦ë²•(cross validation)**

#### Cross Validation êµì°¨ê²€ì¦ë²• ì´ìš©í•˜ê¸° 

> ğŸ§¨ ë°ì´í„° ìˆ˜ê°€ ì ì„ ë•Œ ë°œìƒí•˜ëŠ” ë¬¸ì œ  
   - ìª¼ê°  ê²€ì¦ ë°ì´í„° ìˆ˜ê°€ ì ê¸° ë•Œë¬¸ì— ê²€ì¦ ì„±ëŠ¥ì˜ ì‹ ë¢°ë„ê°€ ë–¨ì–´ì§
   - ê²€ì¦ ë°ì´í„°ì…‹ ë¹„ìœ¨ì„ ë†’íŒë‹¤ë©´, í•™ìŠµ ë°ì´í„°ì…‹ í¬ê¸°ê°€ ì¤„ì–´ë“¤ì–´ í•™ìŠµì´ ë˜ì§€ ì•ŠìŒ  

ì´ ê²½ìš°ì— **Cross Validation** ì´ë¼ëŠ” êµì°¨ê²€ì¦ë²•ì„ ì´ìš©í•©ë‹ˆë‹¤.  
ë³´í†µ K-fold Cross Validation (k ê²¹ Cross Vlidatino) ì„ ë§ì´ ì‚¬ìš©í•©ë‹ˆë‹¤. 


---


 K-fold Cross Validation
>1) ë°ì´í„°ë¥¼ K ê°œì˜ ì§‘í•©ìœ¼ë¡œ ë‚˜ëˆ ,  
2) ë§¤ë²ˆ í•œê°œì˜ ì§‘í•©ì„ Test ë¡œ ì“°ê³ , ë‚˜ë¨¸ì§€ë¥¼ í•™ìŠµì— ì‚¬ìš©í•©ë‹ˆë‹¤  
3) ì´ë•Œ ë‚˜ì˜¨ K ê°œì˜ ì •í™•ë„ ì§€í‘œë¥¼ í‰ê· ì„ ë‚´ì„œ ìµœì¢… í‰ê°€ì§€í‘œë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤   
âœ” ì£¼ë¡œ K = 5 ë¥¼ ë§ì´ ì‚¬ìš©í•©ë‹ˆë‹¤ (ì˜¤ê²¹ì‚´ ğŸ·)  
âœ” K = 10 ë„ ì¢…ì¢… ì‚¬ìš©í•©ë‹ˆë‹¤ (ê·¸ëŸ¬ë‚˜ K  ê°€ 10 ì´ ë„˜ì–´ê°ˆ ì •ë„ë©´, ë°ì´í„°ì…‹ì´ split í•´ë„ë ì •ë„ë¡œ ì¶©ë¶„íˆ í¬ë‹¤ê³  ë´„)  

<img src='https://ifh.cc/g/TlQkBR.jpg' border='0'>

In [ ]:
iris = sns.load_dataset('iris')   # ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
x = iris.drop('species', axis=1)
y = iris['species'].map({'setosa':1, 'versicolor':2, 'virginica':3})

print(x)
print(y)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

ì‹¤ì œë¡œ cross validationì„ ì‚¬ìš©í•´ì„œ ë¨¸ì‹ ëŸ¬ë‹ì„ í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤!!
> - `cross_val_score(ëª¨ë¸,x,y,cv=kê°œ)`

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

model = LogisticRegression(max_iter=1000)     # ëª¨ë¸ì€ ë‹¤ìŒ ì‹œê°„ì— ì„¤ëª…í•©ë‹ˆë‹¤. ë„˜ì–´ê°€ê¸°!
scores = cross_val_score(model,x,y,cv=5)     # cv ëŠ” cross validationì˜ ì•½ìì…ë‹ˆë‹¤

print(scores)
print(scores.mean())                         # ì •í™•ë„ê¹Œì§€ë§Œ ë³´ê³  ë„˜ì–´ê°€ê¸°!

[0.96666667 1.         0.93333333 0.96666667 1.        ]
0.9733333333333334

####**âœ score ëŠ” ë¬´ìŠ¨ ê¸°ì¤€ìœ¼ë¡œ íŒë³„í•˜ëŠ” ê±´ê°€ìš”?**

</br>  

score ì€ scikitlearn ì˜ metrics.accuracy_score ì— ì˜í•´ì„œ ê³„ì‚°ë©ë‹ˆë‹¤.

<img src = "https://1.bp.blogspot.com/-LKcvhNPrpuo/XqaLxt7AIvI/AAAAAAAAAUI/6dADzp9Q-9cNWExBXEW4LQj4aWYiRFrHQCLcBGAsYHQ/s1600/%25E1%2584%2589%25E1%2585%25B3%25E1%2584%258F%25E1%2585%25B3%25E1%2584%2585%25E1%2585%25B5%25E1%2586%25AB%25E1%2584%2589%25E1%2585%25A3%25E1%2586%25BA%2B2020-04-27%2B%25E1%2584%258B%25E1%2585%25A9%25E1%2584%2592%25E1%2585%25AE%2B4.36.25.png" width = "800">

</br>  

ì •í™•ë„ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³„ì‚°ë˜ë©°,   
ì˜ˆì¸¡ê°’ (pred) ê³¼ ì‹¤ì œê°’ (y_true) ì´ ì •í™•í•˜ê²Œ ì¼ì¹˜í•  ë•Œ 1 ê°’ì„ ê°€ì§€ê³ ,   
ë°˜ë§Œ ë§ì„ ê²½ìš° 0.5ì™€ ê°™ì€ ì‹ìœ¼ë¡œ í™•ë¥ ë¡œ ë°˜í™˜ë©ë‹ˆë‹¤.

### **2-â‘¡ ì¶”ê°€ ì‹¤ìŠµì˜ˆì œ**

#### ìˆ™ì œ : testì…‹ê³¼ trainì…‹ì˜ ë¶„ë¦¬ ì—°ìŠµ
ë‹¤ìŒ ì‹œê°„ì—ëŠ” 'titanic dataset'ì„ ì‹¬ë„ìˆê²Œ ë‹¤ë£° ì˜ˆì •ì…ë‹ˆë‹¤.  
ë³¸ê²©ì ìœ¼ë¡œ ì‹œì‘í•˜ê¸° ì „!! ğŸ¬ë°ì´í„° ë‹¤ì´ë¹™ğŸ¬ ì—¬ëŸ¬ë¶„ì´ ì§ì ‘ testì…‹ê³¼ trainì…‹ì„ ë¶„ë¦¬í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
> - íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ì„ seabornì´ ì•„ë‹Œ, ë³¸ì¸ ê³„ì •ì—ì„œ gdrive ê²½ë¡œë¥¼ í†µí•´ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
- yë¼ëŠ” ë³€ìˆ˜ë¥¼ ë§Œë“¤ê³  ìƒì¡´ì— ëŒ€í•œ ì—´ì„ ì„ ì–¸í•˜ì„¸ìš”.
- xë¼ëŠ” ë³€ìˆ˜ì— labelì„ ì œì™¸í•œ ì—´ë“¤ì„ ì„ ì–¸í•˜ì„¸ìš”.
- zë¼ëŠ” ë³€ìˆ˜ì— 'age'ì—´ì„ ë‹´ì€ ë’¤, ë¹„ì–´ìˆëŠ” ê°’ì´ ìˆëŠ” í–‰ì„ ì œê±°í•˜ê³ , ë°°ìš´ ë‚´ìš©ì„ í† ëŒ€ë¡œ ë‹¤ì–‘í•˜ê²Œ í•´ë‹¹ ì—´ì„ ì‹œê°í™”í•´ë³´ì„¸ìš”.

In [ ]:
# ì—¬ê¸°ì—!! íŒŒì´íŒ…!!!!

titanic = sns.load_dataset('titanic')
titanic.head(3)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True

[3 rows x 15 columns]

In [ ]:
titanic_age = titanic['age']

In [ ]:
titanic_age.isna().sum()

177

In [ ]:
titanic_age.dropna(axis=0)

In [ ]:
x = titanic
y = titanic['survived']

xTrain, xTest, yTrain, yTest = train_test_split(x,y, test_size=0.2)

In [ ]:
xTrain.head(5)

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
145         0       2    male  19.0  ...   NaN  Southampton     no  False
374         0       3  female   3.0  ...   NaN  Southampton     no  False
738         0       3    male   NaN  ...   NaN  Southampton     no   True
715         0       3    male  19.0  ...     F  Southampton     no   True
630         1       1    male  80.0  ...     A  Southampton    yes   True

[5 rows x 15 columns]

<img src='https://ifh.cc/g/IGvnbQ.jpg' border='0'>

# ğŸŒˆ ë ğŸŒˆ

<img src='https://ifh.cc/g/aT2woP.png' width = "500" border='0'>


 ì´ë ‡ê²Œ **ë°ì´í„° ì‹œê°í™”ì™€ ë°ì´í„° ì „ì²˜ë¦¬**ì— ëŒ€í•´ì„œ ë°°ì› ìŠµë‹ˆë‹¤  
ì—¬ëŸ¬ë¶„ì˜ í‘œì •ì´ ë³´ì´ëŠ” ë“¯ë„ í•˜ëŠ”ë°ìš” ğŸ™‰ğŸ™ˆğŸ¤¯ğŸ¤®  

íŠ¹íˆ ì˜¤ëŠ˜ ë°°ìš´ ì „ì²˜ë¦¬ë¥¼ í†µí•´ì„œ ë‹¤ìŒì£¼ì— ë³¸ê²©ì ì¸ 'ë¨¸ì‹ ëŸ¬ë‹'ì„ ëŒë ¤ë³¼ ê²ƒì…ë‹ˆë‹¤.

<br/>

ë‹¤ìŒ ìˆ˜ì—…ì—” **ì¬ë°ŒëŠ” ì‹¤ìŠµì„ í†µí•´ì„œ** ì˜¤ëŠ˜ ë°°ìš´ ë‚´ìš©ì„ ë³µìŠµí•˜ê³  ë˜ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì— ëŒ€í•´ì„œ ë°°ì›Œë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

ë§ì´ ê¸°ëŒ€í•´ì£¼ì„¸ìš”~ğŸ˜ğŸ˜ğŸ˜

<img src='https://ifh.cc/g/VfqO4P.jpg' border='0'>

</br>